doctype html
html
  head
    meta(charset='utf-8')
    block title
    link(rel='stylesheet', href='css/main.css')
    script(async='', defer='', src='https://buttons.github.io/buttons.js')
  body
    header 
      a logo
      a about
      a contact
      a gallery
      
    div.container
      block content

      block footer
